
#=========================
#SUPABASE DATABASE
#=========================

DB_URL=
DB_USERNAME=
DB_PASSWORD=

#=========================
# JWT
# =========================

JWT_SECRET=
JWT_EXPIRATION=


# =========================
# SUPABASE S3 STORAGE
# =========================

#MINIO_ENDPOINT=
#MINIO_ACCESS_KEY=
#MINIO_SECRET_KEY=
#MINIO_REGION=

#MINIO_TEMP_BUCKET=temp-bucket
#MINIO_PERMANENT_BUCKET=permanent-bucket

#S3
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION=

S3_TEMP_BUCKET=temp-bucket
S3_PERMANENT_BUCKET=permanent-bucket



# =========================
# FRONTEND
# =========================

FRONTEND_URL=


BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

#Web-push keys

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=