.not-found-container {
    min-height: 100vh;
    background: #f4f6f9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

.not-found-container h1 {
    font-size: 120px;
    color: #2563eb;
    margin-bottom: 10px;
}

.not-found-container h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}

.not-found-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.not-found-container a {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.not-found-container a:hover {
    background: #1d4ed8;
}