/* ===== Sidebar ===== */

.sidebar{
    width:220px;
    min-height:calc(100vh - 70px);
    background:linear-gradient(180deg,#3B82F6,#1E40AF);
    color:#fff;
    display:flex;
    flex-direction:column;
    padding:30px 20px;
    border-radius:0 25px 25px 0;
    box-shadow:5px 0 20px rgba(0,0,0,.15);
}

.logo-section{
    margin-bottom:40px;
}

.logo-section h2{
    margin:0;
    font-size:32px;
    font-weight:700;
    letter-spacing:.5px;
}

.logo-section p{
    margin-top:6px;
    color:#dbeafe;
    font-size:14px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.sidebar-menu button{
    display:flex;
    align-items:center;
    gap:15px;
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    color:white;
    padding:15px 18px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
    font-weight:500;
}

.sidebar-menu button:hover{
    background:rgba(255,255,255,.15);
    transform:translateX(15px);
}

.sidebar-menu button.active{
    background:white;
    color:#2563EB;
    font-weight:600;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.icon{
    font-size:22px;
}

.sidebar-menu span{
    font-size:16px;
}